@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ocr-a-extended';
  src: url('../assets/fonts/ocr-a-extended.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
