@import './import-tailwind.css';
@import './variables-themes.css';
@import './clases-themes.css';
@import './base.css';
@import './responsive1.css';
@import './responsive2.css';
@import './responsive3.css';

:root {
    --vh: 1vh;
}

body {
    overscroll-behavior: none;
    -webkit-overflow-scrolling: touch;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    margin: 0;
    padding: 0;
}

@media screen and (display-mode: fullscreen) {
    body {
        padding-bottom: env(safe-area-inset-bottom);
    }
}