@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ocr-a-extended';
  src: url('./assets/fonts/ocr-a-extended.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Variables base para el tema por defecto */
:root {
  --primary-color: #467BAA;
  --primary-color-rgb: 70, 123, 170;
  --secondary-color: #f5a623;
  --accent-color: #5aa0f2;
  --background-color: #e6f0fa;
}

/* Tema oscuro */
.theme-dark {
  --primary-color: #2c3e50;
  --primary-color-rgb: 44, 62, 80;
  --secondary-color: #f39c12;
  --accent-color: #3498db;
  --background-color: #1a1a1a;
}

/* Tema verde */
.theme-green {
  --primary-color: #27ae60;
  --primary-color-rgb: 39, 174, 96;
  --secondary-color: #ffcc00;
  --accent-color: #2ecc71;
  --background-color: #e8f5e9;
}

/* Tema púrpura */
.theme-purple {
  --primary-color: #8e44ad;
  --primary-color-rgb: 142, 68, 173;
  --secondary-color: #ffffff;
  --accent-color: #9b59b6;
  --background-color: #f3e5f5;
}

body {
  margin: 0;
  font-family: ocr-a-extended, 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Clases utilitarias para componentes */
.bg-primary {
  background-color: var(--primary-color);
}

.text-primary {
  color: var(--primary-color);
}

.border-primary {
  border-color: var(--primary-color);
}

.hover\:bg-accent:hover {
  background-color: var(--accent-color);
}

.bg-accent {
  background-color: var(--accent-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.bg-background {
  background-color: var(--background-color);
}

/* Transición suave al cambiar de tema */
.theme-transition,
body,
button,
a {
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

/* Aislar los estilos de FullCalendar */
.fc {
  isolation: isolate; /* Evita que los estilos de Tailwind interfieran */
  width: 100% !important; /* Asegura que el calendario ocupe el ancho completo del contenedor */
  height: 100% !important; /* Asegura que el calendario ocupe la altura completa del contenedor */
}

/* Aseguramos que los botones de la toolbar sean interactivos */
.fc .fc-button {
  cursor: pointer !important;
  padding: 5px 10px;
  border-radius: 4px;
}

.fc .fc-button:hover {
  background-color: var(--accent-color);
}

/* Ajustamos el contenedor de la toolbar para evitar desbordamiento */
.fc .fc-toolbar {
  flex-wrap: wrap; /* Permite que los botones se ajusten si no hay suficiente espacio */
  margin-bottom: 10px;
}

/* Ajustamos el contenedor de eventos para evitar desbordamiento */
.fc .fc-scroller {
  overflow: auto !important; /* Asegura que el contenido del calendario sea desplazable si es necesario */
}